@charset "UTF-8";

html {
    background-color: rgba(21, 240, 240, 0.87);
}

.relogio_fundo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(imagens/nascer_do_sol.jpg);
    background-position: 100%;
    background-size: cover;
    margin: auto;
    background-repeat: no-repeat;
}

.relogio_caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 8rem;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.507);
}

.relogio_hora {
    padding: 2px 25px;
    background-color: rgba(34, 31, 31, 0.863);
    margin: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 5px solid aqua;
}

.relogio_hora:hover {
    border: 5px solid rgb(199, 33, 27);
    transition-duration: .3s;
}

.creditos {
    color: white;
    font-size: 1.3rem;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    text-decoration: underline;
    font-size: 1.4rem;
    text-shadow: 1px 2px 1px black;
    transition-duration: .5s;
}

.data_caixa {
    position: absolute;
    top: 400px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size: 2rem;
    color: white;
}

.data {
    padding: 2px 25px;
    background-color: rgba(34, 31, 31, 0.863);
    margin: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 5px solid aqua;
}

.data:hover {
    border: 5px solid rgb(199, 33, 27);
    transition-duration: .3s;
}

@media screen and (max-width: 576px){
    
    .relogio_caixa {
        font-size: 4rem;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.507);
    }

    .relogio_hora {
        height: auto;
        width: auto;
        border-radius: 50%;
        padding: 90px 20px;
        border: 5px solid aqua;

    }

    .relogio_hora:hover {
        border: 5px solid rgb(199, 33, 27);  
    }

    .data_caixa {
        position: absolute;
        top: 460px;
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 577px) {
    .relogio_hora {
        height: auto;
        width: auto;
        border-radius: 50%;
        padding: 120px 20px;
        border: 5px solid aqua;
    }

    .relogio_caixa {
        font-size: 6rem;
    }

    .data_caixa {
        position: absolute;
        top: 510px;
    }
    
}

